<h3>Editing Page: <%= h @page.name -%></h3>

<% form_for(@page, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
	<%= link_to 'Markdown', '/markdown-reference/index.html', :popup => ['markdown_reference', 'height=400,width=600,scrollbars=1'] %>
  </p>
<div class="row">
<div class="span4">
  <div class="wmd-panel">
	  <div id="wmd-button-bar"></div>
	  <%= f.text_area :body, :class => 'wmd-input', :id => 'wmd-input' %>
  </div>
</div>
<div class="span4">
  <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
</div>
</div>

        <%= f.label :edit_summary %><br />
        <%= f.text_field :edit_summary %><br />

  <p>Pending Attachments
    <input id="newfile_data" type="file" />
  <div id="attachment_list"><ul id="pending_files"><li></li></ul></div>

  </p>
  <script type="text/javascript">
    var multi_selector = new MultiSelector($('pending_files'), <%= 1 %>);
    multi_selector.addElement($('newfile_data'));
  </script>
  <p>
    Attached Files:<div id="attachment_list"><%= render :partial => "attachment", :collection => @page.assets %></div>
  </p>
  <p>
    <%= f.submit "Update" %> | <%= link_to 'Cancel', pages_path %>
  </p>
<% end %>

<script type="text/javascript">
            (function () {
                var converter1 = Markdown.getSanitizingConverter();
                var editor1 = new Markdown.Editor(converter1);
                editor1.run();
                
            })();
        </script>
