
<p><%= link_to 'Edit', edit_page_path(@page) -%> | <%= link_to pluralize(@page.version, 'revision'), history_path(@page.id) %></p>
<p></p>
<h3 class="loud"><%=h @page.name %></h3>

<div class="wikistyle">
  <%= wiki_to_html(@page.body) -%>
</div>

<p></p>
<hr/>
<b>Attached Files:</b><div id="attachment_list"><ul><%= render :partial => "attachment", :collection => @page.assets %></ul></div>

<p></p>

<%= link_to 'Edit', edit_page_path(@page) %> | <%= pluralize(@page.version, 'revision') %>


