<%= render :partial => 'layouts/header' %>

    <div class="container">
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="span3"></div>
			<div class="span5">
      <% if flash[:notice] %>
		<div class="alert alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button><%= h(flash[:notice]) %>
		</div>
      <% end %>
      <% if flash[:error] %>
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button><%= h(flash[:error]) %>
		</div>
      <% end %>
      <% if flash[:success] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">×</button><%= h(flash[:succcess]) %>
		</div>
      <% end %>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<!-- main content -->
				<%= yield %>
			</div>
		</div>


    </div> <!-- /container -->

<%= render :partial => 'layouts/footer' %>
